---
title: U.S. National Parks
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.S. National Parks</title>
    <link rel="stylesheet" href="styles.css"></style>
    <link rel="stylesheet" href="segmented-control.css"></style>
  </head>
  <body>
    <div class="segmented-control-container">
      <div class="segmented-control">
        <div class="segment checked" id="all"><div class="label">All</div></div>
        <div class="segment"><div class="label">Visited</div></div>
      </div>
    </div>

    <div class="container">
      {% for park in site.data.parks %}
      <div class="park {% if park.visited %}{% else %}unvisited{% endif %}">
        <img src="images/{{ park.poster }}" />
        <div class="overlay">
          <div class="text">{{ park.name }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="credits">Posters by <a href="https://www.andersondesigngroupstore.com/">Anderson Design Group</a></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>
